@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@font-face {
  font-family: "untitled-font-1";
  src: url("../font/fonts/untitled-font-1.eot");
  src: url("../font/fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"), url("../font/fonts/untitled-font-1.woff") format("woff"), url("../font/fonts/untitled-font-1.ttf") format("truetype"), url("../font/fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-edit-modify-streamline:before {
  content: "\61"; }

.icon-settings:before {
  content: "\62"; }

.icon-paperplane:before {
  content: "\63"; }

.heading-primary {
  font-size: 2rem;
  padding: 0;
  margin: 0; }

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  color: #2c3e50; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.messanger {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; }
  .messanger__header {
    background-color: #df2323;
    display: flex;
    flex-direction: row;
    line-height: 5rem; }
    .messanger__header__left {
      width: 20rem; }
      .messanger__header__left__actions {
        line-height: 5rem;
        padding: 0 1.4rem; }
        .messanger__header__left__actions button {
          padding: 0.4rem;
          background-color: #fff;
          border: none;
          border-radius: 0.2rem;
          margin: 0 0.4rem; }
    .messanger__header__content {
      flex-grow: 1; }
      .messanger__header__content h2 {
        line-height: 5rem;
        text-align: center;
        color: #fff; }
    .messanger__header__right {
      width: 30rem;
      line-height: 5rem; }
      .messanger__header__right .user-profile {
        display: flex;
        align-items: center;
        justify-content: flex-end; }
        .messanger__header__right .user-profile__name {
          padding-right: 1rem;
          color: #fff; }
        .messanger__header__right .user-profile__image {
          line-height: 5rem; }
          .messanger__header__right .user-profile__image img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin: 1rem 1rem 0 0;
            background-color: #eee; }
  .messanger__main {
    display: flex;
    flex-direction: row;
    height: 100%; }
  .messanger__sidebar-left {
    width: 20rem;
    border-right: 0.2px solid rgba(0, 0, 0, 0.329);
    background-color: #f3f3f3;
    overflow-y: auto;
    overflow-x: hidden; }
  .messanger__content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto; }
    .messanger__content__messages {
      display: flex;
      flex-direction: column; }
      .messanger__content__messages__message {
        display: flex;
        margin: 2rem 1rem 0 1rem; }
        .messanger__content__messages__message-image {
          padding-right: 1rem; }
          .messanger__content__messages__message-image img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%; }
        .messanger__content__messages__message-body--text {
          background-color: #f3f3f3;
          padding: 1rem;
          border-radius: 1.5rem;
          margin-top: 0.5rem; }
      .messanger__content__messages__message-self {
        justify-content: flex-end; }
        .messanger__content__messages__message-self .messanger__content__messages__message-body--text {
          background-color: #2ecc71; }
  .messanger__input {
    width: inherit;
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    background-color: #fff; }
    .messanger__input__text {
      flex-grow: 1;
      margin-right: auto; }
      .messanger__input__text input {
        padding: 0.8rem 1rem;
        font-size: 1.4rem;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.329);
        border-radius: 5rem; }
        .messanger__input__text input:focus, .messanger__input__text input:active {
          outline: none; }
    .messanger__input__actions__send {
      font-size: 1.4rem;
      background-color: #2ecc71;
      border: none;
      border-radius: 50%;
      color: #fff;
      height: 3.4rem;
      width: 3.4rem;
      margin-left: 1rem;
      cursor: pointer; }
      .messanger__input__actions__send:active {
        background-color: green; }
      .messanger__input__actions__send:focus {
        outline: none; }
  .messanger__sidebar-right {
    width: 30rem;
    border-left: 0.2px solid rgba(0, 0, 0, 0.329);
    background-color: #f3f3f3;
    overflow-y: auto; }
    .messanger__sidebar-right h2 {
      padding: 1rem;
      padding-bottom: 0; }

.channels__channel {
  display: flex;
  flex-direction: row;
  padding: 2rem 1rem 1rem 1rem;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.329);
  cursor: pointer; }

.members {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.329); }
  .members__member {
    display: flex;
    flex-direction: row; }

.user-image {
  padding-right: 1rem; }
  .user-image img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%; }

.user-info {
  flex-grow: 1; }
  .user-info h2 {
    font-size: 1.4rem;
    font-weight: 600;
    white-space: nowrap; }

.active {
  background-color: rgba(0, 0, 0, 0.08); }

.toolbar {
  height: 5rem;
  display: flex;
  flex-direction: row; }
  .toolbar span {
    color: #fff;
    cursor: pointer; }
  .toolbar input {
    height: 3rem;
    line-height: 3rem;
    margin: 1rem;
    padding: 0.2rem;
    border: none;
    border-radius: 0.5rem; }

.search-user {
  position: absolute;
  top: 5rem;
  z-index: 1;
  border: 0.4px solid rgba(0, 0, 0, 0.329);
  border-top: 0 none; }
  .search-user__list {
    display: flex;
    flex-direction: column; }
    .search-user__list__user {
      display: flex;
      flex-direction: row;
      padding: 0.8rem;
      border-bottom: 0.4px solid rgba(0, 0, 0, 0.329);
      cursor: pointer; }
      .search-user__list__user:hover {
        background-color: rgba(0, 0, 0, 0.05); }
      .search-user__list__user img {
        width: 3rem;
        height: 3rem;
        border-radius: 0.2px solid rgba(0, 0, 0, 0.329);
        margin-top: 1rem; }
      .search-user__list__user h2 {
        color: #2c3e50;
        font-size: 1.4rem;
        padding-left: 0.8rem; }

.members-heading {
  text-align: center; }

.user-bar {
  display: flex;
  flex-direction: row;
  align-items: center; }

.user-form {
  line-height: 5rem; }
  .user-form form {
    display: flex;
    flex-direction: row; }
  .user-form__inputs {
    display: flex;
    flex-direction: column; }
  .user-form__input {
    padding: 0.3rem;
    margin: 0.2rem;
    border: none;
    background-color: #fff;
    color: #2c3e50; }

.app-message {
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #e74c3c;
  border-radius: 1rem;
  margin: 1rem 0; }
  .app-message.error {
    background-color: #e74c3c;
    border-color: rgba(0, 0, 0, 0.329); }

.user-menu {
  position: absolute;
  min-width: 20rem;
  right: 0;
  top: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-top: 0 none;
  background-color: #fff; }
  .user-menu ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .user-menu ul li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.329); }
  .user-menu h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    display: block;
    text-align: center; }
