@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
.heading-primary {
  font-size: 2rem;
  padding: 0;
  margin: 0; }

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  color: #2c3e50; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.messanger {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; }
  .messanger__header {
    background-color: #df2323;
    display: flex;
    flex-direction: row;
    line-height: 5rem; }
    .messanger__header__left {
      width: 20rem; }
      .messanger__header__left__actions {
        line-height: 5rem;
        padding: 0 1.4rem; }
        .messanger__header__left__actions button {
          padding: 0.4rem;
          background-color: #fff;
          border: none;
          border-radius: 0.2rem; }
    .messanger__header__content {
      flex-grow: 1; }
      .messanger__header__content h2 {
        line-height: 5rem;
        text-align: center;
        color: #fff; }
    .messanger__header__right {
      width: 30rem;
      line-height: 5rem; }
      .messanger__header__right .user-profile {
        display: flex;
        align-items: center;
        justify-content: flex-end; }
        .messanger__header__right .user-profile__name {
          padding-right: 1rem; }
        .messanger__header__right .user-profile__image {
          line-height: 5rem; }
          .messanger__header__right .user-profile__image img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin: 1rem 1rem 0 0;
            background-color: #eee; }
  .messanger__main {
    display: flex;
    flex-direction: row;
    height: 100%; }
  .messanger__sidebar-left {
    width: 20rem;
    border-right: 0.2px solid rgba(0, 0, 0, 0.329);
    background-color: #f3f3f3;
    overflow-y: auto; }
  .messanger__content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto; }
    .messanger__content__messages {
      display: flex;
      flex-direction: column; }
      .messanger__content__messages__message {
        display: flex;
        margin: 2rem 1rem 0 1rem; }
        .messanger__content__messages__message-image {
          padding-right: 1rem; }
          .messanger__content__messages__message-image img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%; }
        .messanger__content__messages__message-body--text {
          background-color: #f3f3f3;
          padding: 1rem;
          border-radius: 1.5rem;
          margin-top: 0.5rem; }
      .messanger__content__messages__message-self {
        justify-content: flex-end; }
        .messanger__content__messages__message-self .messanger__content__messages__message-body--text {
          background-color: #2ecc71; }
  .messanger__input {
    width: inherit;
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    background-color: #fff; }
    .messanger__input__text {
      flex-grow: 1;
      margin-right: auto; }
      .messanger__input__text input {
        padding: 0.8rem 1rem;
        font-size: 1.4rem;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.329);
        border-radius: 5rem; }
        .messanger__input__text input:focus, .messanger__input__text input:active {
          outline: none; }
    .messanger__input__actions__send {
      font-size: 1.4rem;
      background-color: #2ecc71;
      border: none;
      border-radius: 2rem;
      color: #fff;
      padding: 0.8rem;
      margin-left: 1rem; }
  .messanger__sidebar-right {
    width: 30rem;
    border-left: 0.2px solid rgba(0, 0, 0, 0.329);
    background-color: #f3f3f3;
    overflow-y: auto; }
    .messanger__sidebar-right h2 {
      padding: 1rem;
      padding-bottom: 0; }

.channels__channel {
  display: flex;
  flex-direction: row;
  margin: 2rem 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.329); }

.members {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.329); }
  .members__member {
    display: flex;
    flex-direction: row; }

.user-image {
  padding-right: 1rem; }
  .user-image img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%; }

.user-info {
  flex-grow: 1; }
  .user-info h2 {
    font-size: 1.4rem;
    font-weight: 600; }
