@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import "./variables.scss";
@import "./font.scss";
@import "./typography.scss";

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $base-font;
  font-family: "Open Sans", sans-serif;
  color: $color-body;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.messanger {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  /////////////////////////
  //header
  &__header {
    background-color: #df2323;
    display: flex;
    flex-direction: row;
    line-height: $header-height;

    &__left {
      // padding: 2rem;
      width: $sidebar-left-width;
      &__actions {
        line-height: $header-height;
        padding: 0 1.4rem;
        button {
          padding: 0.4rem;
          background-color: #fff;
          border: none;
          border-radius: 0.2rem;
          margin: 0 0.4rem;
        }
      }
    }
    &__content {
      // width: 65%;
      flex-grow: 1;
      h2 {
        line-height: $header-height;
        text-align: center;
        color: $color-white;
      }
    }
    &__right {
      width: $sidebar-right-width;
      line-height: $header-height;
      .user-profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &__name {
          padding-right: 1rem;
          color: $color-white;
        }
        &__image {
          line-height: $header-height;
          img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin: 1rem 1rem 0 0;
            background-color: #eee;
          } // align-content: stretch;
        }
      }
    }
  }
  &__main {
    // background-color: green;
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  &__sidebar-left {
    width: $sidebar-left-width;
    border-right: 0.2px solid $border-color;
    background-color: $color-secondary;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__content {
    // margin-right: auto;
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
    &__messages {
      display: flex;
      flex-direction: column;
      &__message {
        display: flex;
        margin: 2rem 1rem 0 1rem;
        &-image {
          padding-right: 1rem;
          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }
        }
        &-body {
          &--text {
            background-color: $color-secondary;
            padding: 1rem;
            border-radius: 1.5rem;
            margin-top: 0.5rem;
          }
        }
      }
      &__message-self {
        justify-content: flex-end;
        .messanger__content__messages__message-body {
          &--text {
            background-color: $color-primary;
          }
        }
      }
    }
  }
  &__input {
    // position: fixed;
    // bottom: 0;
    width: inherit;
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    background-color: $color-white;
    &__text {
      flex-grow: 1;
      margin-right: auto;
      input {
        padding: 0.8rem 1rem;
        font-size: $base-font;
        width: 100%;
        border: 1px solid $border-color;
        border-radius: 5rem;
        &:focus,
        &:active {
          outline: none;
        }
      }
    }
    &__actions {
      &__send {
        font-size: $base-font;
        background-color: $color-primary;
        border: none;
        border-radius: 50%;
        color: $color-white;
        height: 3.4rem;
        width: 3.4rem;
        margin-left: 1rem;
        cursor: pointer;
        &:active {
          background-color: green;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  &__sidebar-right {
    width: $sidebar-right-width;
    border-left: 0.2px solid $border-color;
    background-color: $color-secondary;
    overflow-y: auto;
    h2 {
      padding: 1rem;
      padding-bottom: 0;
    }
  }
}

.channels {
  &__channel {
    display: flex;
    flex-direction: row;
    // margin: 2rem 1rem;
    padding: 2rem 1rem 1rem 1rem;
    border-bottom: 0.3px solid $border-color;
    cursor: pointer;
  }
}

.members {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.3px solid $border-color;
  &__member {
    display: flex;
    flex-direction: row;
  }
}
.user-image {
  padding-right: 1rem;
  img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}

.user-info {
  flex-grow: 1;
  h2 {
    font-size: $base-font;
    font-weight: 600;
    white-space: nowrap;
  }
}

.active {
  background-color: rgba(0, 0, 0, 0.08);
}

// .left-action {
//   background-color: $color-danger;
// }

// .right-action {
//   background-color: $color-danger;
// }

.toolbar {
  height: $header-height;
  display: flex;
  flex-direction: row;

  span {
    color: $color-white;
    cursor: pointer;
  }
  input {
    height: 3rem;
    line-height: 3rem;
    margin: 1rem;
    padding: 0.2rem;
    border: none;
    border-radius: 0.5rem;
  }
}

.search-user {
  position: absolute;
  // left: 0;
  top: $header-height;
  z-index: 1;
  border: 0.4px solid $border-color;
  border-top: 0 none;
  
  &__list{
    display: flex;
    flex-direction: column;
    &__user{  
      display: flex;
      flex-direction: row;
      padding: 0.8rem;
      border-bottom: 0.4px solid $border-color;
      cursor: pointer;  
      &:hover {
        background-color: rgba(0, 0, 0, 0.05)
      }
      img{
        width: 3rem;
        height: 3rem;
        border-radius: 0.2px solid $border-color;
        margin-top: 1rem;
      }
      h2{
        color: $color-body;
        font-size: $base-font;
        padding-left: 0.8rem;

      }
    }
  }
}

.members-heading {
  text-align: center;
}

.user-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-form {
  line-height: $header-height;
  form {

      display: flex;
      flex-direction: row;
      

  }

  &__inputs {
    display: flex;
    flex-direction: column;
  }
  &__input {
    padding: 0.3rem;
    margin: 0.2rem;
    border: none;
    background-color: $color-white;
    color: $color-body;
  }
}

.app-message {
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid $color-danger;
  border-radius: 1rem;
  margin: 1rem 0;
  &.error {
    background-color: $color-danger;
    border-color: $border-color;
    
  }
}

.user-menu {
  position: absolute;
  min-width: 20rem;
  right: 0;
  top: $header-height;
  border: 1px solid $border-color;
  border-top: 0 none;
  background-color: $color-white;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      border-bottom: 1px solid $border-color;
    }
  }
  h2 {
    font-size: $base-font;
    font-weight: 600;
    margin:0;
    display: block;
    text-align: center;
  }

}

