$base-font: 1.4rem;
$header-height: 5rem;
$sidebar-left-width: 20rem;
$sidebar-right-width: 30rem;
$border-color: rgba(0, 0, 0, 0.329);

////////////////colors
$color-primary: #2ecc71;
$color-secondary: #eeeeee;
$color-danger: #e74c3c;
$color-body: #2c3e50;
$color-white: #fff;